.errorMsg{
    color:red;
}
.successMsg{
    color:green;
    font-size: 2rem;
}
@media (min-width: 992px){

    .formSizeControl .addressInput1{
        margin-right: 24px;
        width:100%
    }

    .formSizeControl .addressInput2{
        margin-top: 0px;
        width: 40%;
    }
}