
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
.navbar{
    background: linear-gradient(#F4ECE1 100%, #FCFBF7 100%)
}
.navbar-brand{
    
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    padding-top: 17px;
}
.navLogo{
    width:32px;
    height:32px;
    margin-right:5px;
}
.nav-link{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: #000000;
}
.nav-link:hover{
    color:darkorange
}
.searchBox{
    padding-left:35px;
    width: 100%;
    position: relative;
}
.searchBox::before{
    position: absolute;
    content: "";
    width:1px;
    height:40%;
    background-color: #000000;
    left:70%;
}
